<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nominalista.expenses">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expenses.DayNight"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".onboarding.OnboardingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".home.presentation.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".expensedetail.presentation.ExpenseDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".addeditexpense.presentation.AddEditExpenseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity android:name=".expensehistory.presentation.ExpenseHistoryActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".settings.presentation.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".about.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".currencyselection.CurrencySelectionActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".messaging.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/expenses_blue" />

    </application>

</manifest>